body {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
}

button {
    height: 20px;
    width: 50px;
    padding: 10px;
    background: black;
    color: rgb(250, 250, 27);
}


